* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.wrapper {
    font-family: 'Raleway';
    font-family: 'Roboto';
    background: #3A3A3A;
}