$fonts: ('Raleway', 'Regular', 400),
        ('Raleway', 'Medium', 500),
        ('Raleway', 'Light', 300),
        ('Raleway', 'SemiBold', 600),
        ('Raleway', 'Bold', 700),
        ('Roboto', 'Bold', 700),
        ('Roboto', 'Regular', 400);

@each $folder, $file_name, $weight in $fonts {
    @font-face {
        font-family: $folder;
        src: url(/fonts/#{$folder}/#{$folder}-#{$file_name}.woff);
        font-weight: $weight;
    }
}

:root {
    --main: #135C7E;
    --links: #67C6F2;
    --nav_text: #C5C5C5;
    --text: #FFFFFF;
    --bg:  #3A3A3A;
    --sup_bg: #323232;
}